@font-face {
  font-family: 'regular';
  src: url('./assets/fonts/Pretendard-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'medium';
  src: url('./assets/fonts/Pretendard-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'semibold';
  src: url('./assets/fonts/Pretendard-SemiBold.ttf') format('truetype');
}

@keyframes skeleton-animation {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: #fff;
}
::-webkit-scrollbar {
  display: none;
}

div {
  margin: 0;
  box-sizing: border-box;

  display: flex;
  flex-wrap: nowrap;

  word-break: break-all;
  overflow-wrap: break-word;
  /* white-space: pre-wrap; */
}
button {
  margin: 0;
  padding: 4px;
  box-sizing: border-box;

  display: flex;
  flex-wrap: nowrap;

  background-color: transparent;
  border: none;

  cursor: pointer;
}
img {
  margin: 0;
  padding: 0;

  display: block;
  overflow: hidden;
}
input {
  margin: 0;
  display: block;

  background-color: transparent;
  border: none;

  word-break: break-all;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
input::placeholder {
  color: #A0A0A0;
}
input:focus {
  outline: none;
}